$red: rgb(226, 63, 92);
$codeHeight: 2.5rem;

code {
  overflow-x: auto;
  overflow-y: auto;
  word-break: keep-all;
  white-space: pre;
  &.has-numbering {
    margin-left: 2rem;
    word-wrap: normal;
    word-break: keep-all;
    white-space: pre;
  }
}
code, table .line {
  font-family: Roboto, Consolas, Monaco, Courier New, Lucida Console, sans-serif;
}
pre {
  position: relative;
}
.pre-numbering {
  position: absolute;
  top: 0;
  left: 0;
  width: 2rem;
  height: 100%;
  padding: .1rem .3rem .5rem 0;
  border-radius: 3px 0 0 3px;
  text-align: right;
  font-size: 1em;
  list-style: none;
}
.code .hljs {
  height: $codeHeight;
  overflow: hidden;
}
.gutter {
  width: 2rem;
  .hljs {
    height: $codeHeight;
    overflow: hidden;
  }
}
figure.highlight {
  margin-left: auto;
  margin-right: auto;
  overflow-x: auto;
}
.highlight figcaption {
  margin: -5px 0 5px;
  font-size: .9rem;
  color: #999;
}
.highlight figcaption a {
  float: right;
}
.highlight .line.marked, .highlight .line.marked * {
  color: $red !important;
}
