@import 'materialize';
@import 'reset';
@import 'highlight';
@import 'about';

$zIndex1: -100;
$zIndex2: 1;
$navTop: 4rem;
$floatingBtnHeight: 3.5rem;
$blue: #2196f3;

@mixin blur($value) {
  -webkit-filter: blur(#{$value}px);
     -moz-filter: blur(#{$value}px);
      -ms-filter: blur(#{$value}px);
          filter: blur(#{$value}px);
}

$i: 1;
@each $key in sm, md, bg {
  .blur-#{$key} {
    @include blur($i*5);
  }
  .avatar-#{$key} {
    width: #{$i*40}px;
    height: #{$i*40}px;
  }
  .#{$key}-text {
    font-size: 0.25 * $i + .5rem;
  }
  $i: $i + 1;
}

@for $i from 1 through 6 {
  h#{$i} {
    font-size: (6-$i)*0.5 + 0.6rem;
  }
}

html {
  font-family: GillSans, Calibri, Trebuchet, Helvetica Neue, Helvetica, Tahoma, Hiragino Sans GB, STHeiti, Microsoft YaHei, SimHei, sans-serif;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}
footer {
  margin-top: 1.5rem !important;
}

.clear-float {
  clear: both;
}
.background-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: $zIndex1;
}
.background {
  width: 100%;
  height: 100%;
}
.half-opacity {
  opacity: 0.85;
}
.link-img {
  width: 1rem;
  height: 1rem;
  margin-top: 0.8125rem;
}
.pinned {
  z-index: $zIndex2;
}
.inline-title {
  display: inline-block;
  margin: .5rem .5rem .5rem 0;
}
.article {
  line-height: 1.8rem;
  .link {
    text-decoration: underline;
    color: $blue;
    word-break: break-all;
  }
  blockquote footer {
    font-style: italic;
    p {
      font-weight: 500;
    }
    cite {
      padding-left: .5rem;
      font-size: .8rem;
    }
  }
  * {
    max-width: 100%;
  }
}
.navFloatingBtn {
  top: $navTop;
  bottom: auto;
  padding: 0;
  margin-top: $floatingBtnHeight/-2;
}
#container-outer {
  margin-bottom: 0;
  #container-inner {
    &>.card, &>.card-panel {
      margin-bottom: 0;
    }
  }
}
.container-outer {
  margin-top: $navTop * 1.5;
}
.pagination {
  margin: 0;
}
.description {
  text-indent: 2rem;
}
.recent-post-item {
  margin-top: 0;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  .title-icon {
    margin: .4375rem;
    vertical-align: sub;
  }
}
.category {
  float: none !important;
  margin-left: 0 !important;
}
.fancybox-small {
  width: 15vw;
  height: 100%;
}
.links li {
  border: none !important;
  -webkit-transition: opacity .5s;
  -moz-transition: opacity .5s;
  -ms-transition: opacity .5s;
  transition: opacity .5s;
  &:hover {
    opacity: .8;
  }
}
.sidebar {
  // margin-top: 1.75rem;
  margin-left: 6rem;
  .category-list-count, .tag-list-count {
    float: right;
  }
  .category-list-child {
    margin-left: .5rem;
  }
  .collection {
    .collection-item {
      padding: .5rem;
    }
  }
  i {
    margin: 0 !important;
  }
  a {
    -webkit-transition: color 1s;
    -moz-transition: color 1s;
    -ms-transition: color 1s;
    transition: color .5s;
    &:hover {
      color: $blue;
    }
  }
}
.sidebar-default {
  margin-top: 2.25rem;
}
.invade {
  margin-top: -6rem;
}
.home-profile {
  margin-bottom: 2rem;
  .links {
    overflow: hidden;
  }
}
.sidebar-profile {
  .collection-item {
    display: inline-block;
  }
}
.toc {
  padding-top: $navTop;
  li {
    margin-left: .5rem;
    list-style-type: none;
  }
}
.page-footer {
  .link-wrapper {
    margin: .25rem;
  }
  a {
    text-decoration: underline;
  }
}
.collapsible {
  span.row {
    line-height: 200%;
    a:hover {
      text-decoration: underline;
    }
  }
}
.parallax-container-replacement {
  height: 12.5rem;
}
.sibling-post {
  a {
    padding-left: 0 !important;
    padding-right: 0 !important;
    text-decoration: none !important;
    word-break: inherit !important;
    width: auto;
    height: auto;
    max-width: 50%;
    i {
      margin: 0;
    }
  }
}
.collection-list {
  @extend .collection;
}
.collection-list-item {
  @extend .collection-item;
}
.collection-list-count {
  @extend .right;
}
.article {
  .card-content {
    a {
      @extend .link;
    }
    ul, ol {
      @extend .collection;
    }
    li {
      @extend .collection-item;
    }
    table {
      @extend .responsive-table;
    }
  }
}
.about {
  .article {
    a {
      @extend .link;
    }
    ul, ol {
      @extend .collection;
    }
    li {
      @extend .collection-item;
    }
    table {
      @extend .responsive-table;
    }
  }
}
.toc {
  @extend .table-of-contents;
  span {
    word-break: break-all !important;
  }
}
