@charset "UTF-8";
body, div, dl, dt, dd, ul, ol, li, pre,
form, fieldset, input, textarea, p, th, td {
  padding: 0;
  margin: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset, img {
  border: 0; }

address, caption, cite, dfn, th, var {
  font-weight: normal;
  font-style: normal; }

code.hljs {
  display: inline-block;
  margin: 0 0.1rem;
  padding: 0.05rem 0.25rem;
  border-radius: 3px;
  vertical-align: middle; }

caption, th {
  text-align: left; }

q:before, q:after {
  content: â€; }

abbr, acronym {
  border: 0; }

body {
  font-size: 16px; }

time {
  font-size: 0.75rem; }

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit; }

blockquote {
  border-left: 5px solid #909099;
  margin: 1rem; }

/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(../fonts/material-icons/2fcrYFNaTjcS6g4U3t-Y5UEw0lE80llgEseQY3FEmqw.woff2) format("woff2"); }

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased; }

.row .col {
  padding: 0; }

.card, .card-panel {
  border-radius: 0; }

footer.page-footer {
  margin-top: 0; }

.navbar-fixed {
  position: fixed; }

.parallax .valign {
  width: 100%; }

code {
  overflow-x: auto;
  overflow-y: auto;
  word-break: keep-all;
  white-space: pre; }
  code.has-numbering {
    margin-left: 2rem;
    word-wrap: normal;
    word-break: keep-all;
    white-space: pre; }

code, table .line {
  font-family: Consolas, Monaco, Courier New, Lucida Console; }

pre {
  position: relative; }

.pre-numbering {
  position: absolute;
  top: 0;
  left: 0;
  width: 2rem;
  height: 100%;
  padding: .1rem .3rem .5rem 0;
  border-radius: 3px 0 0 3px;
  text-align: right;
  font-size: 1em;
  list-style: none; }

.about .row {
  overflow: hidden; }

.about .icon {
  margin: 0.5rem;
  float: left; }

.blur-sm {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px); }

.avatar-sm {
  width: 40px;
  height: 40px; }

.blur-md {
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px); }

.avatar-md {
  width: 80px;
  height: 80px; }

.blur-bg {
  -webkit-filter: blur(15px);
  -moz-filter: blur(15px);
  -ms-filter: blur(15px);
  filter: blur(15px); }

.avatar-bg {
  width: 120px;
  height: 120px; }

h1 {
  font-size: 2.75rem; }

h2 {
  font-size: 2.35rem; }

h3 {
  font-size: 1.95rem; }

h4 {
  font-size: 1.55rem; }

h5 {
  font-size: 1.15rem; }

h6 {
  font-size: 0.75rem; }

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

main {
  flex: 1 0 auto; }

footer {
  margin-top: 1.5rem !important; }

.background-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -100; }

.background {
  width: 100%;
  height: 100%; }

.half-opacity {
  opacity: 0.85; }

.link-img {
  width: 1rem;
  height: 1rem;
  margin-top: 0.75rem; }

.pinned {
  z-index: 1; }

.inline-title {
  display: inline-block;
  margin: .5rem .5rem .5rem 0; }

.article {
  line-height: 1.8rem; }
  .article .link {
    text-decoration: underline; }
  .article * {
    max-width: 100%; }

.navFloatingBtn {
  top: 4rem;
  bottom: auto;
  padding: 0;
  margin-top: -1.75rem; }

#container-outer {
  margin-top: 6rem;
  margin-bottom: 0; }
  #container-outer #container-inner > .card, #container-outer #container-inner > .card-panel {
    margin-bottom: 0; }

.pagination {
  margin: 0; }

.description {
  text-indent: 2rem; }

.recent-post-item {
  margin-bottom: 2rem; }

.category {
  float: none !important;
  margin-left: 0 !important; }
