@charset "UTF-8";
body {
  background-color: #fff; }

body, div, dl, dt, dd, ul, ol, li, pre,
form, fieldset, input, textarea, p, th, td {
  padding: 0;
  margin: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset, img {
  border: 0; }

address, caption, cite, dfn, th, var {
  font-weight: normal;
  font-style: normal; }

code.hljs {
  display: inline-block;
  margin: 0 0.1rem;
  padding: 0.05rem 0.25rem;
  border-radius: 3px;
  vertical-align: middle; }

caption, th {
  text-align: left; }

q:before, q:after {
  content: â€; }

abbr, acronym {
  border: 0; }

body {
  font-size: 16px; }

time {
  font-size: 0.75rem; }

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit; }

blockquote {
  border-left: 5px solid #909099;
  margin: 1rem; }

/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(../fonts/material-icons/2fcrYFNaTjcS6g4U3t-Y5UEw0lE80llgEseQY3FEmqw.woff2) format("woff2"); }

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased; }

.badge {
  margin-bottom: .2rem; }
  .badge:hover {
    opacity: .5; }

.row .col {
  padding: 0; }

.card, .card-panel {
  border-radius: 0; }

footer.page-footer {
  margin-top: 0; }

.navbar-fixed {
  position: fixed; }

.parallax .valign {
  width: 100%; }

.collection {
  border: 0; }

code {
  overflow-x: auto;
  overflow-y: auto;
  word-break: keep-all;
  white-space: pre; }
  code.has-numbering {
    margin-left: 2rem;
    word-wrap: normal;
    word-break: keep-all;
    white-space: pre; }

code, table .line {
  font-family: Roboto, Consolas, Monaco, Courier New, Lucida Console, sans-serif; }

pre {
  position: relative; }

.pre-numbering {
  position: absolute;
  top: 0;
  left: 0;
  width: 2rem;
  height: 100%;
  padding: .1rem .3rem .5rem 0;
  border-radius: 3px 0 0 3px;
  text-align: right;
  font-size: 1em;
  list-style: none; }

.code .hljs {
  height: 41px;
  overflow: hidden; }

.gutter {
  width: 2rem; }
  .gutter .hljs {
    height: 41px;
    overflow: hidden; }

figure.highlight {
  margin-left: auto;
  margin-right: auto;
  overflow-x: auto; }

.highlight figcaption {
  margin: -5px 0 5px;
  font-size: .9rem;
  color: #999; }

.highlight figcaption a {
  float: right; }

.highlight .line.marked, .highlight .line.marked * {
  color: #e23f5c !important; }

.about {
  margin-top: 0; }
  .about.hide-on-med-and-up > header {
    padding-top: 6rem; }
  .about .row {
    overflow: hidden; }
  .about .icon {
    margin: 0.5rem;
    float: left; }
  .about > header {
    padding: 1rem; }

.blur-sm {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px); }

.avatar-sm {
  width: 40px;
  height: 40px; }

.sm-text {
  font-size: 0.75rem; }

.blur-md {
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px); }

.avatar-md {
  width: 80px;
  height: 80px; }

.md-text {
  font-size: 1rem; }

.blur-bg {
  -webkit-filter: blur(15px);
  -moz-filter: blur(15px);
  -ms-filter: blur(15px);
  filter: blur(15px); }

.avatar-bg {
  width: 120px;
  height: 120px; }

.bg-text {
  font-size: 1.25rem; }

h1 {
  font-size: 3.1rem; }

h2 {
  font-size: 2.6rem; }

h3 {
  font-size: 2.1rem; }

h4 {
  font-size: 1.6rem; }

h5 {
  font-size: 1.1rem; }

h6 {
  font-size: 0.6rem; }

html {
  font-family: GillSans, Calibri, Trebuchet, Helvetica Neue, Helvetica, Tahoma, Hiragino Sans GB, STHeiti, Microsoft YaHei, SimHei, sans-serif; }

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

main {
  flex: 1 0 auto; }

footer {
  margin-top: 1.5rem !important; }

.clear-float {
  clear: both; }

.background-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -100; }

.background {
  width: 100%;
  height: 100%; }

.half-opacity {
  opacity: 0.85; }

.link-img {
  width: 1rem;
  height: 1rem;
  margin-top: 0.8125rem; }

.pinned {
  z-index: 1; }

.inline-title {
  display: inline-block;
  margin: .5rem .5rem .5rem 0; }

.article {
  line-height: 1.8rem; }
  .article .link {
    text-decoration: underline;
    color: #2196f3;
    word-break: break-all; }
  .article blockquote footer {
    font-style: italic; }
    .article blockquote footer p {
      font-weight: 500; }
    .article blockquote footer cite {
      padding-left: .5rem;
      font-size: .8rem; }
  .article * {
    max-width: 100%; }

.navFloatingBtn {
  top: 4rem;
  bottom: auto;
  padding: 0;
  margin-top: -1.75rem; }

#container-outer {
  margin-bottom: 0; }
  #container-outer #container-inner > .card, #container-outer #container-inner > .card-panel {
    margin-bottom: 0; }

.container-outer {
  margin-top: 6rem; }

.pagination {
  margin: 0; }

.description {
  text-indent: 2rem; }

.recent-post-item {
  margin-top: 0;
  margin-bottom: 2rem;
  padding-bottom: 2rem; }
  .recent-post-item .title-icon {
    margin: .4375rem;
    vertical-align: sub; }

.category {
  float: none !important;
  margin-left: 0 !important; }

.fancybox-small {
  width: 15vw;
  height: 100%; }

.links li {
  border: none !important;
  -webkit-transition: opacity .5s;
  -moz-transition: opacity .5s;
  -ms-transition: opacity .5s;
  transition: opacity .5s; }
  .links li:hover {
    opacity: .8; }

.sidebar {
  margin-left: 6rem; }
  .sidebar .category-list-count, .sidebar .tag-list-count {
    float: right; }
  .sidebar .category-list-child {
    margin-left: .5rem; }
  .sidebar .collection .collection-item {
    padding: .5rem; }
  .sidebar i {
    margin: 0 !important; }
  .sidebar a {
    -webkit-transition: color 1s;
    -moz-transition: color 1s;
    -ms-transition: color 1s;
    transition: color .5s; }
    .sidebar a:hover {
      color: #2196f3; }

.sidebar-default {
  margin-top: 2.25rem; }

.invade {
  margin-top: -6rem; }

.home-profile {
  margin-bottom: 2rem; }
  .home-profile .links {
    overflow: hidden; }

.sidebar-profile .collection-item {
  display: inline-block; }

.toc {
  padding-top: 4rem; }
  .toc ol > li {
    margin-left: .5rem;
    list-style-type: none; }

.page-footer .link-wrapper {
  margin: .25rem; }

.page-footer a {
  text-decoration: underline; }

.collapsible span.row {
  line-height: 200%; }
  .collapsible span.row a:hover {
    text-decoration: underline; }

.parallax-container-replacement {
  height: 12.5rem; }

.sibling-post a {
  padding-left: 0 !important;
  padding-right: 0 !important;
  text-decoration: none !important;
  word-break: inherit !important;
  width: auto;
  height: auto;
  max-width: 50%; }
  .sibling-post a i {
    margin: 0; }
