<div class="navbar-fixed">
  <nav class="<%= theme.color %>">
    <div class="nav-wrapper">
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <% Object.keys(theme.menu).forEach(function(key, index) { %>
          <li>
            <a class="text-white waves-effect" href="<%= theme.menu[key] %>"><%= _p(key) %></a>
          </li>
        <% }); %>
      </ul>
      <a href="#" data-activates="slide-nav" class="button-collapse" id="side-nav-switcher"><i class="material-icons">menu</i></a>
    </div>
  </nav>
</div>
