<div class="fixed-action-btn click-to-toggle">
  <a class="btn-floating btn-large <%= theme.color %>">
    <i class="large material-icons">view_module</i>
  </a>
  <ul>
    <li>
      <a id="back-to-top" class="btn-floating <%= theme.color %> waves-effect %>" href="#">
        <i class="material-icons">navigation</i>
      </a>
    </li>
  </ul>
</div>
